@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=RocknRoll+One&display=swap');

body {
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
}

#logo-link {
    padding-top: 5px;
}

h2 {
    margin: 0;
}

#background {
    height: 725px;
    background-color: #A3D9FF;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

main section {
    text-align: center;
}

header {
    background-color: #005693;
}

.logo {
    width: 80px;
}

#hero-img {
    width: 100%;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: black;
    color: rgb(179, 169, 169);
}

.home-title {
    color: #005693;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: #005693;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
    font-family: "RocknRoll One", "OpenSans";
}

.button-box {
    text-align: center;
}

.book, .join {
    background-color: rgb(175, 169, 169);
    color: #005693;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #A3D9FF;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

main section img {
    box-sizing: border-box;
}

.card-img {
    border: 10px solid #A3D9FF;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.msg {
    background-color: #2E4057;
    font-family: "RocknRoll One", "OpenSans";
    line-height: 1.5em;
    padding: 35px;
}

.msg h2 {
    color: rgb(231, 226, 226);
}

.msg p {
    color: rgb(231, 226, 226);
    font-size: .8em;
    padding-bottom: 15px;
}

footer {
    background-color: #2E4057;
    padding: 25px 50px;
    margin-top: 200px;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: black;
}

footer .social img {
    padding-top: 15px;
}