body {
    margin: auto;
}

#upper-pic {
    display: block;
    margin: 0;
    
    
}

#lower-images, img {
    display: inline;
    width: 30%;
    margin: auto;
    border: 50px solid rgb(99, 99, 99);
    border-radius: 50%;
}