body {
    margin: 0 auto;
}

#upper-pic {
    display: block;
    width: 100%;
}

#title {
    object-fit: cover;
    width: 100%;
}

#lower-images {
   background-color: gray;
}

#desk, #ice, #person {
    display: inline;
    margin: 0 20px;
    width: 25%;
    background-color: gray;
    border: 10px solid rgb(99, 99, 99);
    border-radius: 50%;
}