body {
    /*margin: 0 auto;*/
}

#upper-pic {
    display: block;
    width: 100%;
}

#lower-images {
    display: inline;
    height: 20%;
    margin: 0 auto;
    /*border: 50px solid rgb(99, 99, 99);
    border-radius: 50%;*/
}