body {
    background-color: pink;
    text-align: center; 
}

img {
    width: 15%;
    margin: auto;
}

.title {
    color: white;
    max-width: 10%;
    margin: auto;
} 

.upper-quote {
    color: white;
    max-width: 400px;
    margin: auto;
 
} 

.article-of-faith {
    text-align: start;
    margin: auto;
    text-indent: 300px;
}

.lower-quote {
    color: white;
    max-width: 220px;
    margin: auto;
}

.name {
    margin: auto;
    padding: 0%;
    max-width: 200px;
}

.title:hover {
    color: black;
   
}