@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@500&family=RocknRoll+One&family=Tourney&family=Work+Sans&display=swap');

.container {
    position: relative;
    width: 50%;
  }

p {
  font-family: "Raleway";
}
  
  .image {
    display: block;
    width: 50%;
    height: auto;
    border-radius: 15px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 50%;
    opacity: 0;
    transition: .5s ease;
    background-color: #0890cf;
    border-radius: 15px;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    font-family: "RocknRoll One";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }