body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 0;
}

.cherry-pic {
    grid-column: 1/2;
    grid-row: 1/2;
}

h1 {
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
    font-size: 190px;
    z-index: 1;
}

.color-box {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: gray;
}

.color-box h2 {
    font-size: 85px;
    text-align: center;
    color: rgb(165, 4, 4);
    margin-top: 500px;
}