body {
    background-color: pink;
    text-align: center;
   
    
}

img {
    width: 10%;
    margin: auto;
}



.title, .upper-quote, .lower-quote {
    color: white;
    max-width: 10%;
    
    
    
}

.title.hover {
    color: black;
   
}